

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




/* Standard syntax */
@keyframes backgroundColorPalette {
  0% {
    background: #F0F4EF;
  }

  25% {
    background: #FCECC9;
  }

  50% {
    background: #20A4F3;
  }

  75% {
    background: #BB4430;
  }

  100% {
    background: #0D1821;
  }
}